@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto';
/* @import "react-slideshow-image/dist/styles.css"; */

body{
  background-color: #ccae06;
  font-family:'Roboto';
  
}
.header {
  background-color: #000000;
  color: #ffffff;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  padding: 15px;
  margin-bottom: 2px;
  position: relative;
  left: 50%;
}
.container{
  max-width: 50%;
}
.item{
  display: flex;
  flex-direction: row;
  /* background-color: #f1f1f1 */
  padding: 8px;
  margin-bottom: 7px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
  left: 50%;
}
.item:hover{
  opacity: 1;
  border-style: outset;
  border-color: #26301b;
}
.item-img{
  flex: 1;
  padding-right: 10px;
}
.item-img img{
 width: 100%;
}

.item-content{
  flex: 3;
}

.item-content #title{
  font-size: 20px;
  font-weight: 300;
}
.item-content #author{
  font-size: 12px;
  margin: 5px 0px 5px 0px;
}

.item-content #desc{
  font-size: 13px;
}